## .NET build artifacts
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/
TestResults/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild[Ll]og.*
*.log

## .NET Core
project.lock.json
project.fragment.lock.json
project.assets.json
appsettings.json

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## NuGet
*.nupkg
*.snupkg
packages/
*.nuspec
*.psmdcp
*.symbols.nupkg
project.json
*.lock.json

# NuGet v3 local repo
.nuget/

## Rider
.idea/
*.sln.iml

## Visual Studio
.vscode/
.vs/
.vscode-test/
.vsconfig
*.code-workspace

## Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## Coverlet coverage
coverage*.json
coverage*.xml
coverage*.info
coverage/
*.lcov

## Others
*.tmp
*.bak
*.swp
*.scc
~$*
*~

# Structured Log Viewer
*.binlog

# User secrets
secrets.json

# dotenv environment variable files
.env
.env.*

# Publish outputs
publish/

# Local tools
.localtools/

# Dotnet watch
**/tmp/

# JetBrains Rider
.idea/

# Rider / VS Code caches
.cache/
dist/

# IIS Express
.vsconfig
iisexpress/
